/*PARAGRAPH AND HEADING FONT VARIABLES*/
$paragraph-font:'PT Sans', sans-serif;
$pic-id-font: 'Open Sans Condensed', sans-serif;
$heading-font: 'Raleway', sans-serif;

/*PARAGRAPH AND HEADING FONT SIZES*/
$small: 12px;
$medium: 16px;
$large: 24px;
$xlarge:36px;
$xxlarge:48px;



/*COLOR VARIABLES*/
$main-background-color: white;
$background-color-2: #FFB273;
$primary-color: #006363;
$secondary-color: #A64B00;
$tertiary-color: #1D7373;
$paragraph-color: black;
$go-color: green;